h1 {
  font-family: 'Monoton', cursive;
  font-size: 3.5em;
  margin: 5px;
}
h2 {
  text-align: left;
}

.entry {
  text-align: left;
  margin-bottom: 15px;
}
.entry h2 {

}
.entry h4 {
  color: rgb(98, 98, 98);
}
