h2 {
  text-align: center;
}

#title h1 {
  text-align: center;
  margin: 8px;
}

#demo {

}

.center-image {
  text-align: center;
}
.center-image img {
  width: 100%;
  max-width: 600px;
}

.team-member {
  text-align: center;
  background-color: rgb(226, 226, 226);
  border-radius: 15px;
}
.team-member h3 {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.team-member img {
  height: 100px;
  width: 100px;
  border-radius: 15px;
}
.team-member p {
  font-size: 0.8em;
}
